<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="http://res.wx.qq.com/open/libs/weui/0.4.2/weui.min.css"/>
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static "css/show.css" %}"/>
        <link rel="stylesheet" href="{% static "css/manage.css" %}"/>
        <link rel="stylesheet" href="{% static "css/login.css" %}"/>
        <link rel="stylesheet" href="{% static "css/details.css" %}"/>
        <script src="http://cdn.bootcss.com/jquery/2.2.3/jquery.min.js"></script>
        <script type="text/javascript" src="{% static "js/weui.min.js" %}"></script> 
    </head>
    <body>
        {% block content %}
        {% endblock %}
    </body>
    {% load staticfiles %}
    <script type="text/javascript" src="{% static "js/common.js" %}"></script> 
    <script type="text/javascript" src="{% static "js/details.js" %}"></script> 
    <script type="text/javascript" src="{% static "js/user.js" %}"></script> 
</html>
