{% extends 'base.html' %}
{% block content %}


<div class="details">
    <div class="weui_cells_title detail-title">
        <p class='now-date'>{{ date }}（{{ weekday }}）</p>
        <span class="weui_cells_title plan-progress">完成度：<span class='precent'>{{ precent }}</span>%</span>
        <a class="weui_btn weui_btn_plain_default details-submit">提交</a>
    </div>
    <div class="detail_content">
        {% for detail in details %}
        <div class="detail_entry">
            {% if detail.ischeck %}
            <input type="checkbox" name="entry-{{ detail.id }}" id="" value="{{ detail.id }}" checked>
            {% else %}
            <input type="checkbox" name="entry-{{ detail.id }}" id="" value="{{ detail.id }}">
            {% endif %}
            <p class="entry_time">{{ detail.created_at }} </p>
            <div class="entry_content">
                <p>{{ detail.content }}</p>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class='new-details'>
    </div>

    <div class="weui_cells_title do_other">
        <div class="weui_cells">
            <div class="weui_cell">
                <div class="weui_cell_bd weui_cell_primary">
                </div>
                <div class="weui_cell_ft">
                    <a class="weui_btn weui_btn_mini weui_btn_primary">
                        <div class="do_other_btn">
                            <img src="/static/images/plus16.svg" alt="">
                            <span>
                                做了其他事情
                            </span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="push"></div>
</div>
<div class="footer details-plan-note">
    <div class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
            <textarea class="weui_textarea detail-note" id="textarea" placeholder="备注" rows="3">{{ note }}</textarea>
        </div>
    </div>
</div>
<div class="weui_dialog_alert" id="dialog2" style="display: none;">
    <div class="weui_mask"></div>
    <div class="weui_dialog">
        <div class="weui_dialog_hd"><strong class="weui_dialog_title">警告</strong></div>
        <div class="weui_dialog_bd">时间和内容不能为空</div>
        <div class="weui_dialog_ft">
            <a href="javascript:;" class="weui_btn_dialog primary">确定</a>
        </div>
    </div>
</div>
{% endblock %}
