{% extends 'base.html' %}
{% block content %}
<div class="container manage">
    <div class="weui_cells_title manage-title">管理规划</div>
    <div class="weui_cells weui_cells_access">
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary progress-cell">
                <span class="summary">2016.3.16（周三）</span>
                <span class="summary progress">完成度：100%</span>
            </div>
            <div class="weui_cell_ft">
            </div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary progress-cell">
                <span class="summary">2016.3.16（周三）</span>
                <span class="summary progress">完成度：0%</span>
            </div>
            <div class="weui_cell_ft">
            </div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary progress-cell">
                <span class="summary">2016.3.16（周三）</span>
                <span class="summary progress">完成度：66%</span>
            </div>
            <div class="weui_cell_ft">
            </div>
        </div>
    </div>
    <div class="button_sp_area more-btn">
        <a href="javascript:;" class="weui_btn weui_btn_mini weui_btn_default">点击加载更多</a>
    </div>
</div>
{% endblock %}
