{% extends 'base.html' %}
{% block content %}
<div class="container manage">
    <div class="weui_cells_title manage-title">管理规划</div>
    <div class="weui_cells weui_cells_access">
        {% for plan in plans %}
        <div class="weui_cell" onclick="window.open('/wechat/plan/{{plan.id}}/details', '_self')">
            <div class="weui_cell_bd weui_cell_primary progress-cell">
                <span class="summary"> {{ plan.format_time }}（{{plan.weekday}}）</span>
                <span class="summary progress">完成度 {{ plan.precent }}%</span>
            </div>
            <div class="weui_cell_ft">
            </div>
        </div>
        {% endfor %}

    <div class="button_sp_area more-btn">
        <a href="javascript:;" class="weui_btn weui_btn_mini weui_btn_default">点击加载更多</a>
    </div>
</div>
{% endblock %}
