html,
body {
  height: 100%;
}
.details {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -80px;
}
.details .detail-title {
  position: relative;
}
.details .detail-title .now-date {
  font-size: 17px;
  color: black;
}
.details .detail-title .plan-progress {
  padding: 0px;
  font-size: 14px;
}
.details .detail-title .details-submit {
  width: 20%;
  font-size: 12px;
  position: absolute;
  top: 15%;
  right: 15px;
  background: #56abe4;
  color: white;
  border: 0px;
}
.details .detail_content {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}
.details .detail_content .detail_entry {
  padding: 10px 15px;
  overflow: hidden;
}
.details .detail_content .detail_entry p {
  display: inline;
}
.details .detail_content .detail_entry .entry_time {
  margin-left: 10px;
}
.details .detail_content .detail_entry .entry_content {
  float: right;
  width: 60%;
}
.details .new-details .new-entry {
  padding: 10px 15px;
  overflow: hidden;
}
.details .new-details .new-entry * {
  border: 0px;
}
.details .new-details .new-entry .new-time {
  margin-left: 10px;
  width: 25%;
  font-size: 17px;
}
.details .new-details .new-entry .new-content {
  float: right;
  width: 60%;
  margin-top: 0.6%;
  font-size: 17px;
}
.details .do_other {
  margin-top: 0px;
}
.details .do_other .weui_cells {
  margin-top: 0px;
  margin-bottom: 0px;
}
.details .do_other .weui_cells:before {
  border: 0px;
}
.details .do_other .weui_cells:after {
  border: 0px;
}
.details .do_other .weui_cells .weui_cell {
  padding-left: 0px;
  padding-right: 0px;
}
.details .do_other .weui_cells .weui_cell:before {
  border: 0px;
}
.details .do_other .weui_cells .weui_cell:after {
  border: 0px;
}
.details .push {
  height: 80px;
}
.details-plan-note {
  border-top: 1px solid #c9c9c9;
  height: 80px;
}
.details-plan-note .weui_cell {
  padding: 0px;
  margin: 10px 15px;
}
