.plan {
    .plan-title {
        position: relative;
        height: 26px;
        margin: 11px 0px;
        font-size: 17px;
        button {
            position: absolute;
            right: 15px;
            background: #56abe4;
            &:active {
                background-color: #56abe4;
            }
        }
    }
    .weui_cells {
        .entry-lt {
            width: 100px;
        }
        .entry-text {
            border-left: 1px solid #c9c9c9;
            height: 24px;
            padding-left: 15px;
            border-radius: 0px;
        }
        .btn {
            position: absolute; 
            top: 0; right: -80px;
            text-align: center;
            background: #eb4f38; 
            color: #fff; 
            width: 80px;
            height: 42px;
            line-height: 43px;
            border-top: 1px solid #c9c9c9;
        }
    }
    .plan-btm {
        position: relative;
        margin-top: 10px;
        button {
            position: absolute;
            top: 50%;
            margin-left: 15px;
            background: #eb4f38;
            &:active {
                background-color: #eb4f38;
            }
        }
        img {
            position: absolute;
            top: 50%;
            right: 15px;
        }
    }
    .plan-note {
        width: 100%;
        position: absolute;
        bottom: 0px;
    }
}
