.manage .manage-title {
  text-align: center;
  font-size: 17px;
}
.manage .progress-cell {
  position: relative;
}
.manage .progress-cell .progress {
  position: absolute;
  left: 59%;
}
.manage .more-btn {
  width: 100%;
  position: relative;
  text-align: center;
  top: 20%;
  margin-top: 10px;
}
.manage .more-btn a {
  background: #ecf0f1;
  width: 50%;
}
